{% extends 'BSLCoreBundle:Base:base.html.twig' %}

{% block content %}
    {# Form for adding a new expense. #}
    <form role="form" class="col-lg-12" id="expense-entry">
        <div class="row">
            <div class="col-lg-3 form-group">
                <label for="expense">Expense</label>
                <div>
                    <input class="form-control input-sm" id="expense" type="text" placeholder="Name of expense" />
                    <button class="btn btn-success btn-sm" data-bind="click: function() { newExpense(); }"><span class="glyphicon glyphicon-plus"></span></button>
                </div>

            </div>
        </div>

    </form>

    {# A listing of all the expenses. #}
    <div class="expense-column-headings col-lg-12">
        <div class="row">
            <div class="expense-column-heading col-lg-3 col-lg-offset-1">Expense</div>
            <div class="expense-column-heading col-lg-2">Due Date</div>
            <div class="expense-column-heading col-lg-2">Amount Due</div>
            <div class="expense-column-heading col-lg-2">Amount Paid</div>
            <div class="expense-column-heading col-lg-1">Paid?</div>
        </div>
    </div>
    <div class="expense-listing col-lg-12" data-bind="foreach: expenses">
        <div class="expense-row row" data-bind="css: { 'bg-success': payment().isPaid }">
            <div class="expense-cell col-lg-1">
                <span class="center-block"><span class="glyphicon glyphicon-move"></span></span>
            </div>
            <div class="expense-cell col-lg-3">
                <span data-bind="text: expenseName, visible: !isEditingRecord()"></span>
                <input type="text" class="expense-input form-control input-sm" data-bind="value: expenseName, visible: isEditingRecord()" required />
            </div>
            <div class="expense-cell col-lg-2">
                <span data-bind="text: dueDate, visible: !isEditingRecord()"></span>
                <input type="text" class="expense-input form-control input-sm" data-bind="value: dueDate, visible: isEditingRecord()" />
            </div>
            <div class="expense-cell col-lg-2">
                <span data-bind="text: amountDue, visible: !isEditingRecord()"></span>
                <input type="text" class="expense-input form-control input-sm" data-bind="value: amountDue, visible: isEditingRecord()" />
            </div>
            <div class="expense-cell col-lg-2">
                <span data-bind="text: payment().amountPaid, visible: !isEditingRecord()"></span>
                <input type="text" class="expense-input form-control input-sm" data-bind="value: payment().amountPaid, visible: isEditingRecord()" />
            </div>
            <div class="expense-cell col-lg-1">
                <input id="paid" type="checkbox" data-bind="checked: payment().isPaid, attr: { value: expenseId }, click: $root.paid, disable: !isEditingRecord()" />
            </div>
            <div class="expense-cell col-lg-1">
                <button class="btn btn-warning btn-xs center-block" data-bind="visible: !isEditingRecord(), click: $root.editRecord"><span class="glyphicon glyphicon-cog"></span></button>
                <span data-bind="visible: isEditingRecord()">
                    <button class="btn btn-success btn-xs" data-bind="click: $root.saveExpense"><span class="glyphicon glyphicon-ok"></span></button>
                    <button class="btn btn-danger btn-xs" data-bind="click: $root.removeExpense"><span class="glyphicon glyphicon-remove"></span></button>
                </span>
            </div>
        </div>
        <div><b>RECORD DEBUG:</b><span data-bind="text: ko.toJSON($data)"></span></div>
    </div>

    {# DEBUG #}
    <hr/>
    <div><b>DEBUG:</b><span data-bind="text: ko.toJSON($root)"></span></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@BSLExpenseBundle/Resources/public/js/views/ExpenseHomeView.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}