<!DOCTYPE html>
<html>
    <head>
        <title>
            {# Twig block for the title of the page #}
            {% block title %}
                Expense Tracker
            {% endblock %}
        </title>

        {# Meta tags for responsive web framework #}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Twig block for the stylesheets #}
        {% block stylesheets %}
            {# Bootstrap CSS & optional theme #}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

            {#Assetic CSS include#}
            {% stylesheets
                '@BSLCoreBundle/Resources/public/sass/stylesheets/*'
                '@BSLCoreBundle/Resources/public/css/*'
                filter='cssrewrite'
            %}
                <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}

        <link rel="shortcut icon" href="{{ asset('bundles/bslcore/images/favicon.ico') }}" />
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        {# BELOW: For screen-reader only. #}
                        <span class="sr-only">Toggle navigation</span>
                        {# BELOW: Creates the navicon for mobile. #}
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('BSLExpenseBundle_home')  }}">Bryan's Expense Tracker</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% block navigation %}
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        {% endblock %}
                    </ul>
                    {% if user is defined %}

                        <p class="navbar-text navbar-right">You are logged in as {{ user.username }}.
                            <a href="{{ path('fos_user_security_logout') }}">
                                <button class="btn btn-default btn-xs">Logout <span class="glyphicon glyphicon-log-out"></span></button>
                            </a>
                        </p>

                    {% else %}
                        <p class="navbar-text navbar-right">You are not logged in.</p>
                    {%  endif %}

                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">

            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="notice">
                <div class="flash_notice">
                    {{  app.session.flash('notice') }}
                </div>
            </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="notice">
                <div class="flash_error">
                    {{  app.session.flash('error') }}
                </div>
            </div>
            {% endfor %}


            <div id="body-content">
                {% block content %}

                {% endblock %}
            </div>
        </div>

        <div class="container">
            <div id="footer">
                <div class="content">
                    {% block footer %}

                    {% endblock %}
                </div>
            </div>
        </div>

        {# Twig block for the JavaScript files #}
        {% block javascripts %}
            {# jQuery #}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

            {# FOSJSRouting #}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

            {# KnockoutJS #}
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>

            {# UnderscoreJS #}
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
            
            {# Bootstrap JS #}
            <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

            {#Assetic JS include#}
            {% javascripts
                '@BSLCoreBundle/Resources/public/js/common/*'
                '@BSLCoreBundle/Resources/public/js/libraries/*'
                '@BSLExpenseBundle/Resources/public/js/common/*'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {# HTML5 JS - Poor souls. #}
            <!--[if lt IE 9]>
            <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

    </body>
</html>

