{% extends "BSLCoreBundle:Base:base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="row">

        <div class="col-lg-6 col-lg-offset-3 login-form-container">
            {% if error %}
                <div>{{ error|trans }}</div>
            {% endif %}


            <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post" role="form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <label for="username" class="col-lg-3 col-lg-offset-2 control-label">{{ 'security.login.username'|trans }}</label>
                    <div class="col-lg-4">
                        <input  class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-lg-3 col-lg-offset-2 control-label">{{ 'security.login.password'|trans }}</label>
                    <div class="col-lg-4">
                        <input class="form-control" type="password" id="password" name="_password" required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-7 col-lg-offset-5">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                </div>

                <div class="col-lg-7 col-lg-offset-5">
                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>

            </form>
        </div>
    </div>
{% endblock content %}
