// src/BSL/ExpenseBundle/Resources/public/css/sass/sass/pages/_expensepayments.scss
@import "base";

/**
 * SCSS stylesheet for the user's expense payment homepage.
 **/

#expense-entry {

  input#expense {
    width: 85%;
    display: inline;
  }
}

.expense-column-headings {
  margin-bottom: 6px;

  .expense-column-heading {
    font-weight: bold;
  }
}

.expense-listing {
  .expense-row {
    @include border-radius(4px);
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border: 1px solid #A5A5A5;
  }
}