// src/BSL/ExpenseBundle/Resources/public/css/sass/sass/pages/_login.scss
@import "base";

/**
 * SCSS stylesheet for the login form/page.
 **/

.login-form-container {
  @include border-radius(5px);
  @include box-shadow(0 0 10px 5px #BFBFBF);
  background-color: #F6F6F6;
  padding: 10px;
}