/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* General styles*/
/**
 * Place to keep common variables, mixins and any other framework utilities being used.
 * ABSOLUTELY no CSS classes allowed.  This file will be imported by others.
 **/
/* Variables */
/**
 * SCSS stylesheet for general areas that are visible on most of the application.
 **/
/* line 8, ../sass/general/_all.scss */
#body-content {
  font-size: 16px;
}

/* Page specific styles */
/**
 * Place to keep common variables, mixins and any other framework utilities being used.
 * ABSOLUTELY no CSS classes allowed.  This file will be imported by others.
 **/
/* Variables */
/**
 * SCSS stylesheet for the login form/page.
 **/
/* line 8, ../sass/pages/_login.scss */
.login-form-container {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 5px #bfbfbf;
  -moz-box-shadow: 0 0 10px 5px #bfbfbf;
  box-shadow: 0 0 10px 5px #bfbfbf;
  background-color: #F6F6F6;
  padding: 10px;
}

/**
 * Place to keep common variables, mixins and any other framework utilities being used.
 * ABSOLUTELY no CSS classes allowed.  This file will be imported by others.
 **/
/* Variables */
/**
 * SCSS stylesheet for the user's expense payment homepage.
 **/
/* line 10, ../sass/pages/_expensepayments.scss */
#expense-entry input#expense {
  width: 85%;
  display: inline;
}

/* line 16, ../sass/pages/_expensepayments.scss */
.expense-column-headings {
  margin-bottom: 6px;
}
/* line 19, ../sass/pages/_expensepayments.scss */
.expense-column-headings .expense-column-heading {
  font-weight: bold;
}

/* line 25, ../sass/pages/_expensepayments.scss */
.expense-listing .expense-row {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border: 1px solid #A5A5A5;
}
